*{
    box-sizing: content-box;
    margin: 0;
    padding: 0;
}

.main{
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    background-color: aliceblue;
    background: repeating-conic-gradient(
        from 0deg,
        rgba(236, 236, 236, 0.5) 63deg 89deg,
        rgba(255, 255, 255, 0.8) 243deg 200deg,
        rgba(236, 236, 236, 0.9) 0deg 120deg,
        rgba(236, 236, 236, 0.9) 20deg 120deg
    );
    background-size: cover;
}
.form{
    width: 25%;
    margin: auto;
    margin-top: 11%;
    box-shadow: 0 5px 16px 6px #efefef;
    background: #fff;
    border: solid 1px #efefef;
}
.alter{
    padding: 20px 0;
    width: 95%;
    margin: auto;
}
.login{
    width: 100%;
    display: block;
    animation: fadeIn 0.6s both;

}
.login .login-header{
    text-align: center;
}
.login .login-header{
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 800;
    color: #333;
}

.register{
    width: 100%;
    display: none;
    animation: fadeIn 0.6s both;

}
.register .login-header{
    text-align: center;
}
.register .login-header{
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 800;
    color: #333;
}
.forgot{
    width: 100%;
    display: none;
    animation: fadeIn 0.6s both;

}
.forgot .login-header{
    text-align: center;
}
.forgot .login-header{
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 800;
    color: #333;
}

@keyframes fadeIn {
0% {
  opacity: 0;
  transform: translatey(40px);
}
100% {
  opacity: 1;
}
}

.page-nt{
    width: 40%;
    margin: auto;
    height: 1px;
    background: #ddd;
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
}
.page-nt .circle{
    width: 15px;
    height: 15px;
    background: white;
    border: solid 1px #ddd;
    border-radius: 50%;
    z-index: 1;
    margin-top: -8px;
}
.page-nt .bg-dark{
    background: #333;
}
.login .login-body{
    width: 95%;
    margin: auto;
    margin-top: 25px;
}
.form-group{
    min-width: 100%;
    padding-top: 19px;
    position: relative;
    
}
.form-group label{
    font-size: 17px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.form-group input{
    width: 100%;
    padding: 11px 0 11px 0px;
    outline: none;
    border: solid 1px #efefef;
    margin-top: 5px;
    border-radius: 3px;
    text-indent: 16px;
    font-size: 15px;
    font-weight: 600;
    font-family: sans-serif;
    color: #666;
    
}
.form-group input::placeholder{
    margin-left: 10px;
    text-indent: 20px;
}
.form-group input:focus{
    box-shadow: 0 0 2px 0 rgb(23, 162, 255);
}
.form-group a{
    text-decoration: none;
    color: black;
    font-family: sans-serif;
    font-weight: 700;
    color: rgb(253, 46, 46);
}
.form-group #show1{
    position: absolute;
    right: 15px;
    top: 66%;
    color: #ccc;
}
.form-group #show1.active::before{
    content: "\f070";
}

.form-group #show2{
    position: absolute;
    right: 15px;
    top: 66%;
    color: #ccc;
}
.form-group #show2.active2::before{
    content: "\f070";
}


.form-group #show3{
    position: absolute;
    right: 15px;
    top: 66%;
    color: #ccc;
}
.form-group #show3.active3::before{
    content: "\f070";
}




.form-group button{
    width: 100%;
    padding: 11px 0;
    outline: none;
    border: solid 1px #efefef;
    border-radius: 3px;
    font-weight: 700;
    font-size: 16px;
    color: white;
    background: rgb(23, 162, 255);
    margin-bottom: 15px;

}
.form-group button:hover{
    background: rgb(22, 143, 223);
}
.form-group button:focus{
    border: solid 2px rgb(23, 162, 255);
}
.form-or{
    width: 35%;
    margin: auto;
    margin-top: 17px;
    height: 1px;
    text-align: center;
    justify-content: center;
    background: #ccc;
    align-items: flex-end;
    position: relative;
}
.form-or .mt-1{
    margin-top: -12px;
}
.form-or .or{
    width: 20px;
    height: 20px;
    margin: auto;
    background: white;
    border: solid 1px #ccc;
    border-radius: 50%;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 14px;
    position: absolute;
    left: auto;
    left: 40%;
    right: 40%;
    top: -9.5px;
}
.form-group .btn-green{
    width: 47%;
    margin: auto;
    text-align: center;
    justify-content: center;
    margin-top: -3px;
}
.form-group .btn-green a{
    text-decoration: none;
    color: green;
    font-family: sans-serif;

    
}
.form-group .btn-green a:hover{
    color: rgb(12, 66, 12);
    font-weight: 600;
}


@media screen and (max-width:780px){
    .form{
        width: 90%;
        margin-top: 18px;
    }
    .page-nt{
        width: 60%;
    }
    .form-or{
        width: 60%;
    }
    .form-group .btn-green{
        width: 70%;
    }
}

/* mobile view */